<% if false %><!-- start erb comment -->
<%
Response.Expires = 0
Response.ExpiresAbsolute = Now() - 1
Response.AddHeader "Cache-Control", "must-revalidate"
Response.AddHeader "Cache-Control", "no-cache"
%>
<!-- end erb comment --><% end %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta name="google" value="notranslate" />         	
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<%= javascript_include_tag :all%>
		<%= stylesheet_link_tag :all%>
        <title></title>
        <!-- Include CSS to eliminate any default margins/padding and set the height of the html element and 
             the body element to 100%, because Firefox, or any Gecko based browser, interprets percentage as 
             the percentage of the height of its parent container, which has to be set explicitly.  Fix for
             Firefox 3.6 focus border issues.  Initially, don't display flashContent div so it won't show 
             if JavaScript disabled.
        -->
        <style type="text/css" media="screen"> 
            html, body  { height:100%; }
            body { margin:0; padding:0; overflow:auto; text-align:center; 
                   background-color: #ffffff; }   
            object:focus { outline:none; }
            #flashContent { display:none; }
        </style>
        
        <!-- Enable Browser History by replacing useBrowserHistory tokens with two hyphens -->
        <!-- BEGIN Browser History required section -->
        <link rel="stylesheet" type="text/css" href="/site/history/history.css" />
        <script type="text/javascript" src="/site/history/history.js"></script>
        <!-- END Browser History required section -->  
	 	<!-- Include support libraries -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>            
        <script type="text/javascript" src="/site/swfobject.js"></script>
		<!-- Include FBJSBridge to allow for SWF to Facebook communication. -->
		<script type="text/javascript" src="/site/FBJSBridge.js"></script>
        <script type="text/javascript">
            // // For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection. 
            // var swfVersionStr = "10.2.0";
            // // To use express install, set to playerProductInstall.swf, otherwise the empty string. 
            // var xiSwfUrlStr = "/site/playerProductInstall.swf";
            // var flashvars = {};
            // var params = {};
            // params.quality = "high";
            // params.bgcolor = "#ffffff";
            // params.allowscriptaccess = "sameDomain";
            // params.allowfullscreen = "true";
            // var attributes = {};
            // attributes.id = "Main";
            // attributes.name = "Main";
            // attributes.align = "middle";
            // swfobject.embedSWF(
            //     "/site/Main.swf", "flashContent", 
            //     "510", "100%", 
            //     swfVersionStr, xiSwfUrlStr, 
            //     flashvars, params, attributes);
            // // JavaScript enabled so display the flashContent div in case it is not replaced with a swf object.
            // swfobject.createCSS("#flashContent", "display:block;text-align:left;");
        </script>		

    </head>
    <body>
		<div id="page_heading_div" class="hidden">
			<div class="like-widget">
				<fb:like show_faces="true" width="760" font="verdana"></fb:like>
			</div>	
		</div>
        <div id="fb-root"></div>

        <script type="text/javascript">
		APP_ID = "<%= $APP_DATA['APP_ID'] %>";	
		CANVAS_URL = "<%= $APP_DATA['CANVAS_URL'] %>";
						
            window.fbAsyncInit = function() {
                FB.init({appId: APP_ID, status: true, cookie: true, xfbml: true});

                FB.getLoginStatus(function(response) {
					if (!response.session)
					//either not logged in or hasn't granted app permission
					{
						var REDIRECT_URI = "http://apps.facebook.com/" + CANVAS_URL;		
						var PERMS = "email,publish_stream,manage_pages"; //comma separated list of extended permissions
						var PARAMS = window.location.toString().slice(window.location.toString().indexOf('?'));						
						// top.location = "https://www.facebook.com/dialog/oauth?" + "client_id=" + APP_ID + "&scope=" + PERMS + "&redirect_uri=" + REDIRECT_URI + PARAMS + "&response_type=token";
						top.location = 'https://graph.facebook.com/oauth/authorize?client_id='+APP_ID+'&scope='+PERMS+'&redirect_uri='+REDIRECT_URI+PARAMS+'&type=user_agent&display=page&fbconnect=0&canvas=1&return_session=1&session_version=3&v=1.0&cancel_url=http://apps.facebook.com/' + CANVAS_URL + '/&next=http://apps.facebook.com/' + CANVAS_URL + '/';
					}

                    else {
	                    // logged in and connected user, someone you know
						// get id and access token
						// make the swf visible and embed it
						SNID = response.session.uid;
						access_token = response.session.access_token;
						FB.api('/me', function(response) {
							alert("me: " + JSON.stringify(response));
						});
						FB.api('/me/accounts', function(response) {
							response.data.forEach(function(item) {
								alert(JSON.stringify(item.id));
							});
						});
						
						document.getElementById('page_heading_div').style.display="inline";
						document.getElementById("flashContent").style.display = "inline";
						var params = { wmode: "opaque" };
						params.allowfullscreen = "true";
						var flashvars = {};
						// allow full screen
						// swfobject.embedSWF("playmusic/main.swf", "flashContent", "760", "618", "10.0", null, flashvars, params, {name:"flashContent"});              
					}
                });
            };
            (function() {
                var e = document.createElement('script');
                e.type = 'text/javascript';
                e.src = document.location.protocol +
                    '//connect.facebook.net/en_US/all.js';
                e.async = true;
                document.getElementById('fb-root').appendChild(e);
            }());

            function login(){
                FB.api('/me', function(response) {
               //     document.getElementById('login').style.display = "block";
               //     document.getElementById('login').innerHTML = response.name + " successfully logged in!";
                });
            }

            function logout(){
                document.getElementById('login').style.display = "none";
            }

			function refresh(){
				window.location.reload();
			}
 
            //stream publish method
            function streamPublish(connection_request_id, title, description, imageURL){
			// alert("Stream Publish called.");
                var link = 'http://apps.facebook.com/play-music/index.html?next=http://apps.facebook.com/' + CANVAS_URL + '/index.html&request_ids=' + connection_request_id.toString();
				FB.ui(
                {
   					method: 'feed',
					name: title,
					link: link,
					picture: imageURL,
					description: description
                },
                function(response) {
                });
            }

            function pageStreamPublish(connection_request_id, title, description, imageURL, targetID){
                var link = 'http://apps.facebook.com/play-music/index.html?next=http://apps.facebook.com/' + CANVAS_URL + '/index.html&request_ids=' + connection_request_id.toString();
				if (imageURL && imageURL != "")
				{
					FB.ui(
					{
						from: targetID,
						to: targetID,
					   	method: 'feed',
						name: title,
						link: link,
						caption: " ",
						picture: imageURL,
						description: description
					},
					function(response) {
					});
				}
				else
				{
					FB.ui(
	                {
						from: targetID,
						to: targetID,
	   					method: 'feed',
						name: title,
						link: link,
						caption: " ",
						description: description
	                },
	                function(response) {
	                });				
				}
            }
			
			function launchGiftsFrame()
			{
				document.getElementById('iframe_div').innerHTML = '<iframe id="frame" width="100%" height="100%" src ="/canvas/gifts" frameborder="0" />';	
				document.getElementById('iframe_div').className="iframe_div_visible";
				
				document.getElementById('iframe_div').wmode = "opaque";				
			}
			
			function launchVIPListFrame()
			{
				document.getElementById('iframe_div').innerHTML = '<iframe id="frame" width="100%" height="100%" src ="/canvas/VIPlist" frameborder="0" />';
				document.getElementById('iframe_div').className="iframe_div_visible";
			}
		
			function streamPublishFromTabs()
			{
				document.getElementById('flashContent').callSelfPagePostFromAS();
			}

			function launchRequestDialog(content, request_type, item_type, item_id)
			{
				closeiFrame();
				FB.ui(
					{
						method: 'apprequests', 
						message: content, 
						title: 'Request'
					},
					function(response) {
						url = 'connection_request/receive_connection_request';					
						params = 'sender_snid=' + SNID + '&request_type=' + request_type + '&item_type=' + item_type + '&item_id=' + item_id.toString() + '&request_ids=' + response.request_ids.toString();

					    var xhr = new XMLHttpRequest();
					    xhr.onreadystatechange = xhrHandler;
					    xhr.open("POST", url);
						//Send the proper header information along with the request
						xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
						xhr.setRequestHeader("Content-length", params.length);
						xhr.setRequestHeader("Connection", "close");
					    xhr.send(params);
					}
				);				
				
	
				FB.ui({method: 'apprequests', title: 'Give some ends to ya friends', message: content, data: connection_request_id});	
			}
			
			function launchInviteDialog()
			{
				closeiFrame();
				var content = "I made a sweet band in this game. Come watch them tear up the stage!";
				FB.ui(
					{
						method: 'apprequests', 
						title: 'Invite',
						message: content, 
						filters: ['app_non_users']
					},
					function(response) {
						url = 'connection_request/receive_connection_request';						
						params = 'sender_snid=' + SNID + '&request_type=invite&item_type=nil&item_id=0&request_ids=' + response.request_ids.toString();

					    var xhr = new XMLHttpRequest();
					    xhr.onreadystatechange = xhrHandler;
					    xhr.open("POST", url);
						//Send the proper header information along with the request
						xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
						xhr.setRequestHeader("Content-length", params.length);
						xhr.setRequestHeader("Connection", "close");
					    xhr.send(params);
					}
				);
			}			
			
			function xhrHandler() {
			  if (this.readyState != 4) {
			      return;
			  }
			  if (this.status != 200) {
			      alert('Error saving request info!');
			      return;
			  }
			}
			
			function launchAddMoneyFrame()
			{
				document.getElementById('iframe_div').innerHTML = '<iframe id="frame" width="100%" height="100%" src ="/canvas/money" frameborder="0" />';
				document.getElementById('iframe_div').className="iframe_div_visible";
				
				document.getElementById('iframe_div').wmode = "opaque";
			}
			
			function launchCreditsDialogue(order_amt)
			{
				closeiFrame();
				
				var obj = {
		        	method: 'pay',
		        	order_info: order_amt,
		        	purchase_type: 'item'
		      	};
				
				var callback = function(data) {
					if (data['order_id']) {
						writeback("Transaction Completed! </br></br>" +
						"Data returned from Facebook: </br>" +
						"<b>Order ID: </b>" + data['order_id'] + "</br>" +
						"<b>Status: </b>" + data['status']);
					} else if (data['error_code']) {
						writeback("Transaction Failed! </br></br>"
						+ "Error message returned from Facebook:</br>"
						+ data['error_message']);
					} else {
						writeback("Transaction failed!");
					}
				};
							
				FB.ui(obj, callback);
			}
			
			function launchHelpFrame()
			{
				document.getElementById('iframe_div').innerHTML = '<iframe id="frame" width="100%" height="100%" src ="/canvas/help" frameborder="0" />';
				document.getElementById('iframe_div').className="iframe_div_visible";

				document.getElementById('iframe_div').wmode = "opaque";								
			}
			
			function closeiFrame()
			{
				document.getElementById('iframe_div').innerHTML = '';
				document.getElementById('iframe_div').className="iframe_div_hidden";
			}
			-->
		</script>	
		<div id="iframe_div"></div>		

        <!-- SWFObject's dynamic embed method replaces this alternative HTML content with Flash content when enough 
             JavaScript and Flash plug-in support is available. The div is initially hidden so that it doesn't show
             when JavaScript is disabled.
        -->
        <div id="flashContent">
            <p>
                To view this page ensure that Adobe Flash Player version 
                10.2.0 or greater is installed. 
            </p>
            <script type="text/javascript"> 
                var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://"); 
                document.write("<a href='http://www.adobe.com/go/getflashplayer'><img src='" 
                                + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>" ); 
            </script> 
        </div>

        <noscript>
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="100%" height="100%" id="Main">
                <param name="movie" value="/site/Main.swf" />
                <param name="quality" value="high" />
                <param name="bgcolor" value="#ffffff" />
                <param name="allowScriptAccess" value="sameDomain" />
                <param name="allowFullScreen" value="true" />
                <!--[if !IE]>-->
                <object type="application/x-shockwave-flash" data="/site/Main.swf" width="100%" height="100%">
                    <param name="quality" value="high" />
                    <param name="bgcolor" value="#ffffff" />
                    <param name="allowScriptAccess" value="sameDomain" />
                    <param name="allowFullScreen" value="true" />
                <!--<![endif]-->
                <!--[if gte IE 6]>-->
                    <p> 
                        Either scripts and active content are not permitted to run or Adobe Flash Player version
                        10.2.0 or greater is not installed.
                    </p>
                <!--<![endif]-->
                    <a href="http://www.adobe.com/go/getflashplayer">
                        <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash Player" />
                    </a>
                <!--[if !IE]>-->
                </object>
                <!--<![endif]-->
            </object>
        </noscript>

    </body>
</html>